<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Azure cosmos db config-->
    <add key="endpoint" value="https://c9c3de36-0ee0-4-231-b9ee.documents.azure.com:443/" />
    <add key="authKey" value="FOwcJi2skDuvuDznfp4EivMKG08FnFFqQFDi69Vv4k9Y43ajqP5reOT9ouXZCVMrHa0QsD5UbkZOI4NppWn97w==" />
    <add key="database" value="db-test" />
    <add key="collection" value="test" />

    <!--Azure cosmos db config-->
    <!--<add key="endpoint" value=""/>
    <add key="authKey" value=""/>
    <add key="database" value=""/>
    <add key="collection" value=""/>-->
  </appSettings>
</configuration>